*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3vh ;
}
header>label{
    display: none;
}
nav>label{
    display: none;
}
header>input{
    display: none;
}
header>img{
    width: 5vw;
}
header>nav{
    display: flex;
    gap: 4vw;
    align-items: center;
}
header>nav>a{
    text-decoration: none;
    color: #314584;
    font-weight: 700;
    font-size: 25px;
}
.btn-contact{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
    padding: 1vh 1.5vw;
    color: #FF3946;
}
.btn-contact:hover{
    color: #ffffff;
    background-color: #FF3946;
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-1-right{
    padding-left: 6vw;
 display: flex;
 flex-direction: column;
 gap: 3vw;
}
.section-1-right>h1{
    width: 50%;
    font-size: 5rem;
    color: #314584;
}
.section-1-right>p{
    font-size: 30px;
    width: 60%;
    color: rgb(68, 68, 68);
}
.btn{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.btn-about{
    width: 7vw;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 2vh 2vw;
    background-color: #FF3946;
    border-radius: 50px;
}
.btn-touch{
    text-decoration: none;
    color: #314584;
    font-weight: 700;
    font-size: 20px;

}
.section-1-left>img{
    width: 40vw;
}

.section-2{
    padding-inline: 10vw;
    display: flex;
    gap: 4vw;
}
.right-sc-2{
    margin-top: 5vh;
    padding: 3vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.right-sc-2>h2{
    font-size: 40px;
    width: 60%;
    color: #314584;
}
.right-sc-2>button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 2vh 2vw;
    background-color: #FF3946;
    border-radius: 50px;
    display: flex;
    align-items: start;
}

.box-sc-2{
    width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 4vh 4vw;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.123);
    border-radius: 5px;
    gap: 2vw;
}

.box-sc-2>svg{
    color: #FF3946;
}

.box-sc-2>h3{
    font-size: 40px;
    color: #314584;
}

.box-sc-2>p{
    font-size: 30px;
}

/* secend part of project y said  */

.contact-area{
    width: 100%;
    height: 50vh;
}
.contact-content{
    padding-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.discr{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.discr > h3{
    color: red;
}
.info-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.info-area > input , textarea{
    background: #5c7fefcb;
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 300;
}

.button-mail{
    background: #FF3946;
    border: none;
    border-radius: 25px;
    padding: 0.8rem;
}
.mail-link{
    text-decoration: none;
    color: white;
}

/* footer  */

footer{
    width: 100%;
    height: fit-content;
    color: #ffffff;
    background: #314584;
}
.footer-content{
    margin-top: 2rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.footer-discrp > h1{
    color: #FF3946;
}
.footer-nav-links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footer-nav-links > .f-l{
    text-decoration: none;
    color: white;
}
.links-icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 480px) {

    header{
        padding: 3vh 1vw;
        justify-content: space-between;
    }

header>label{
    display: block;
}
header>img{
    width: 20vw;
}

.navigation{
    display: flex;
    width: 95vw;
    justify-content: space-between;
    padding: 2vh 0;
}

nav{
    justify-content: start;
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100vw;
    top: 0;
    left: -200%;
    gap: 3vw;
    flex-direction: column;
    align-items: start !important;
    transition: 0.5s;
    padding-inline: 3vw;
   }

   #menu:checked + nav{
    left: 0;
   }

   /* section 1 */
   .section-1{
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    padding: 5vh 0vw;
    align-items: center;
    background-image: url("../images/hero-section.png");
    background-repeat: no-repeat;
   
   }


   .section-1-right>h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
   }
   .section-1-right>p{
    font-size: 20px;
    text-align: center;
    width: 90%;
    padding-inline: 2vw;
   }

   .btn{
    flex-direction: column;
    gap: 2vw;
    
   }
   .btn-about{
    padding: 1vh 0.1vw;
    width: 50vw;
    text-align: center
   }
   .section-1-left{
    display: none;
   }

   .section-2{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 0;
   }

   .right-sc-2{
    margin-top: 0;
    align-items: start;
   }
   .right-sc-2>h2{
    font-size: 30px;
    width: 90%;
    color: #314584;
}
.box-sc-2{
    width: 80vw;
}

.box-sc-2>h3{
    font-size: 30px;
}
.box-sc-2>p{
    font-size: 20px;
}
/* mobile respo by said  */
.contact-area{
    width: 100%;
    height: fit-content;
    background: #8ea8ff8c;
}
.contact-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.discr{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.discr > h3{
    color: red;
}
.info-area{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info-area > input , textarea{
    background: #5c7fefcb;
    padding: 0.5rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 300;
}

.button-mail{
    background: #FF3946;
    border: none;
    border-radius: 25px;
    padding: 0.8rem;
}
.mail-link{
    text-decoration: none;
    color: white;
}
}