*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3vh ;
}
header>img{
    width: 5vw;
}
header>nav{
    display: flex;
    gap: 4vw;
    align-items: center;
}
header>nav>a{
    text-decoration: none;
    color: #314584;
    font-weight: 700;
    font-size: 25px;
}
.btn-contact{
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 1px 1px black;
    padding: 1vh 1.5vw;
    color: #FF3946;
}
.btn-contact:hover{
    color: #ffffff;
    background-color: #FF3946;
}

.section-1{
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-1-right{
    padding-left: 6vw;
 display: flex;
 flex-direction: column;
 gap: 3vw;
}
.section-1-right>h1{
    width: 50%;
    font-size: 5rem;
    color: #314584;
}
.section-1-right>p{
    font-size: 30px;
    width: 60%;
    color: rgb(68, 68, 68);
}
.btn{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.btn-about{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 2vh 2vw;
    background-color: #FF3946;
    border-radius: 50px;
}
.btn-touch{
    text-decoration: none;
    color: #314584;
    font-weight: 700;
    font-size: 20px;

}
.section-1-left>img{
    width: 40vw;
}

.section-2{
    display: flex;
}
.right-sc-2{
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 2vw;
}
.right-sc-2>h2{
    font-size: 40px;
    width: 50%;
    color: #314584;
}
.right-sc-2>button{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 2vh 2vw;
    background-color: #FF3946;
    border-radius: 50px;
    display: flex;
    align-items: start;
}